.contact {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  border: solid 1px rgb(129, 203, 240);
  border-radius: 5px;
  padding: 10px;
  gap: 30px;
  min-width: 260px;
  margin-top: 10px;
  background-color: rgb(61, 59, 59);
}

.wrapper {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.name {
  padding: 0;
  margin: 0;
}

.name,
.number {
  display: flex;
  flex-direction: row;
  gap: 8px;
  align-items: center;
}

.btn {
  width: 100px;
  background-color: rgb(238, 45, 45);
  height: 44px;
  color: rgb(252, 250, 250);
}
