.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: rgb(232, 112, 14);
}

.title {
  font-size: 2rem;
  color: #1b1a1a;
}

.text {
  font-size: 1.2rem;
  color: #333;
}
